PORT=3000
NODE_ENV=development_ou_production

MONGO_INITDB_ROOT_USERNAME=usuario_root
MONGO_INITDB_ROOT_PASSWORD=senha_root
MONGO_INITDB_DATABASE=nome_do_banco
MONGO_AUTH_SOURCE=admin

SALT=numero_de_salt_para_o_argon2 (ex: 10)
JWT_SECRET=senha_super_secreta_para_o_jwt

ENCRYPTION_KEY=senha_super_secreta_para_a_encriptacao
